<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Services</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-3 col-md-3">
        <div class="service-item">
          <i class="icon-hawaii"></i>
          <h4>Travel Mentor</h4>
          <img style="width=100px; height=100px;" src="/img/services/hawaii.jpg">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="service-item">
          <i class="icon-burkina"></i>
          <h4>Travel shop</h4>
          <img style="width=100px; height=100px;" src="/img/services/burkina.jpg">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="service-item">
          <i class="icon-nomads"></i>
          <h4>Travel Digital Nomads</h4>
          <img style="width=100px; height=100px; " src="/img/services/ipad.png">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>